.body{
    font-size: 40px;
    background: linear-gradient(360deg, aqua, rgb(70, 5, 90));
}

.yellow{
  width: 290px;
  display: block;
  transition: transform 10s;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.yellow:hover{
  transform: rotateY(360deg);
}

.young{
  width: 150px;
}

.young:hover{
  transform: rotateY(360deg);
  transition: transform 10s;
}

.reading{
  width: 150px;
}

.reading:hover{
  transform: rotateY(360deg);
  transition: transform 10s;
}

/*.logo{
    display: block;
    width: 200px;
    border-radius: 50%;
    transition: transform 10s;
  }
*/

.main{
  text-align: center;
  width:1200px;
  max-width: 100%;
  margin: 0 auto;
}

.name{
  color:white ;
}
