.body{
    font-size: 40px;
    background: linear-gradient(360deg, aqua, rgb(70, 5, 90));
}

.yellow{
  width: 290px;
  display: block;
}

.yellow:hover{
  transform: rotateY(360deg);
  transition: transform 10s;
}

.young{
  width: 150px;
}

.young:hover{
  transform: rotateY(360deg);
  transition: transform 10s;
}

.reading{
  width: 150px;
}

.reading:hover{
  transform: rotateY(360deg);
  transition: transform 10s;
}

/*.logo{
    display: block;
    width: 200px;
    border-radius: 50%;
    transition: transform 10s;
  }
*/
